*{
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: lightcoral;
    margin-top: 200px;
    margin-left: 34%;
    width: 600px;
    height: 400px;
}
.inp input{
    border-radius: 10px;
    width:300px;
    height: 25px;
}
.inp{
   height: 20px;
}
.pass input{
    border-radius: 10px;
    width:300px;
    height: 25px;
    
}
.buton button{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2;

}
.buton button:hover{
    background-color:lightgreen;
    box-shadow: 0px 3px 2px ;
    color: #333;
    transform: translateY(-7px);
}
.buton button:active{
    transform: translateY(-1px);
}


