@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;900&display=swap');



* {
  margin: 0;
  padding: 0;
}



.container{
  /* background-color:lightcoral; */
  width: 500px;
  height: 550px;
  border-radius: 30px;
  margin-left: 500px;
  margin-top: 50px;
  box-shadow:30px 25px 20px  #0000008c;
  position: relative;
  overflow: hidden;

}
.container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.urltext input{
  font-size: 25px;
  margin-top: 130px;
  margin-left: 100px;
  border-radius: 10px;
  border: 0;
  text-align: center;
 
}
.urltext button{
  font-size: 25px;
  display: flex;
  width: 65px;
  height: 45px;
  padding:8px;
  border-radius:10px;
  margin-top: 70px;
  background-color: black;
  color: white;
  margin-left: 225px;
  cursor: pointer;
  box-shadow: 0px 8px 14px rgba(red, green, blue, alpha);
}
.urltext button:hover{
  background-color:#288bdb;
  box-shadow: 0px 15px 20px ;
  color:#fff;
  transform: translateY(-6px);
}










