@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Atma:wght@300;400;500;600;700&family=Kalam:wght@300;400;700&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Atma", system-ui;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #fda7df;
}
nav{
    display: flex;
    background-color: #d980fa;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
nav img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin: 10px;
    width: 40px;
    height: 40px;
}
nav h1{

    font-size: 30px;
    font-weight: 500;
    padding-top: 20px;
}
.url-text{
    position: relative;
    background-color: #d980fa;
    margin-top: 200px;
    margin-left: 450px;
    width: 500px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 100px;
    display: flex;
    border-radius:8px;
    border: 2px solid rgba(255,255,255,.2);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}  
.url-text input{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
    height: 20px;
    border-radius: 8px;
    border: none;
}
.url-text button{
    display: inline-flex;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
}
.url-text .linkurl{
    position: absolute;
        left: 53%;
        top: 65px;
        width: 30px;
        color:gray;
}
.Btn-get {
    position: relative;
    width: 150px;
    height: 55px;
    border-radius: 45px;
    border: none;
    background-color: rgb(151, 95, 255);
    color: white;
    box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px rgb(124, 54, 255) inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Btn-get::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.678);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
  }
  
 .Btn-get::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.137);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
  }
  
  .Btn-get:hover {
    animation: jello-horizontal 0.9s both;
  }
  
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  

/* @media screen and (max-width:600px) {
    .container{
        font-size: 14px;
        padding: 10px;
        background-color: #fda7df;
    }
    
} */

