.password-header  {
    min-height: 100vh;
    background-color: #fda7df;
}
.password-footer{
    background-color: #d980fa ;
    padding-left: 550px;
    padding-top: 10px;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.password-container{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 300px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #d980fa;
}
.password-division{
    margin-left: 20%;
    letter-spacing: 2px;
}
.password-contents{
    background-color:#fda7df;
    height: 50px;
    width: 350px;
    font-size: 30px;
    border-radius: 8px;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
