.password-header  {
    min-height: 100vh;
    background-color: #fda7df;
}
.password-footer{
    background-color: #d980fa ;
    padding-left: 550px;
    padding-top: 10px;
    letter-spacing: 2px;
   
}
.password-container{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 300px;
    border-radius: 8px;
    border: none;
    background-color: #d980fa;
}
.password-division{
    margin-top: 15%;
    margin-left: 40%;
    letter-spacing: 2px;
}
.password-division .password-contents{
    background-color:#fda7df;
}