.container{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 80%;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.passworddisplay{
    height: 80px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 20px;
}
.passworddisplay p{
    font-weight: 600;
    font-size: 18px;
}
.divison{
    height: 80%;
    width: 100%;
    flex-direction: column;
    display: flex;
    padding: 30px;
    gap: 40px;
    justify-content: center;
    align-items: start;
}
.divison label{
    font-size: 18px;
    font-weight: 400;
}
.passwordlength input{
    width: 30%;
    all: unset;
    margin-left: 20px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid black;
}
.buttons{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}
.buttons button {
    font-size: 18px;
    color: black;
    width: 60%;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .buttons button:focus,
  .buttons button:hover {
    color: blue;
  }
  
  .buttons button:focus:after,
  .buttons button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .buttons button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: blue;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }