* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sectext: #298aae;
    --text: #314119;
    --bgcolor: #fff;
}

::-webkit-scrollbar {
    display: none;
}

.division {
    height: 100vh;
    width: 100%;
    overflow: scroll;
}

.subdivision {
    height: 100%;
    width: 90%;
    margin-left: 5%;
}


.header {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.header h1 {
    font-weight: 300;
}

.container {
    height: 100%;
    width: 100%;
}

.contents {
    height: 85%;
    width: 100%;
}

.images {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img {
    height: 150px;
    width: 150px;
    margin-top: 10%;
}

.urlfield {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    padding: 30px;
    align-items: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 20px;
}

.inputs input {
    flex-grow: 1;
    padding: 10px;
    font-size: 18px;

    background-color: none;
    border: none;
    outline: none;
}

.inputs img {
    height: 30px;
    width: 30px;
}

.inputs button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

.inputs button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}