.container{
    height: 100vh;
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container1{
    background-color: navajowhite;
    height: 500px;
    width: 500px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.user input{
    width: 240px;
    height: 30px;
}
.user label{
    font-size: large;

}
.fav{
    width: 170px;
    margin-top: 20px;
}
.note label{
    font-size: large;
}
.note textarea{
    width: 240px;
    height: 70px;
}
.edit{
    display: flex;
    justify-content: center;
    align-items: center;

}
.edit button{
    width: 120px;
    height: 30px;
    margin-top: 40px;
    border-radius: 20px;
    font-size: 15px;
}
button{
    background-color: green;
    cursor: pointer;
}
 .button button:hover{
    transform: translateY(-7px);

 }
 .fav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    margin-bottom: 10px;
 }
 .note{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
 }
 .url{
    padding-left: 50px;
 }
 .username input{
       padding: 10px;
 }
 .password input{
    padding: 10px;
 }
 .icons{
    margin-left: 10px;
}
 